<div class="panel panel-default">
  <div class="panel-body">
    <% @posts.each do |post| %>
      <div class="page-header">
        <h3><%= link_to post.title, post %> <small>(<%= post.created_at%>)</small> <span class="pull-right badge">   <%= post.comments_count %> <% if user_signed_in? %> <%= link_to "delete", post, remote: true, method: :delete %> | <%= link_to "update", edit_post_path(post)  %> <% end %> </span> </h3>
    </div>
    <%= post.content %>
  <% end %>
  </div>
</div>
<ul class="pager">
  <li class="previous"><%= link_to_previous_page @posts, 'Previous' %></li>
  <li class="next"><%= link_to_next_page @posts, 'Next' %></li>
</ul>

