      <div class="panel panel-default">
        <div class="panel-body">
    <% @posts.each do |post| %>
          <div class="page-header">
            <h3><%= link_to post.title, post %> <small>(<%= post.created_at%>)</small> <span class="pull-right badge"><%= post.comments_count %></span> </h3>
          </div>
          <%= post.content %>
      <% end %>
        </div>
      </div>
 <ul class="pager">
    <li class="previous"><%= will_paginate @posts, :previous_label %></a></li>
    <li class="next"><a href="#"><%= will_paginate @posts, :next_label %></a></li>
  </ul>

