<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <h2><%=@post.title %><small class="pull-right">read times: <%= @post.read_count %></small></h2>
    </div>
    <p><%= @post.content %></p>
  </div>
</div>

<% if @post.comments.empty?  %>
  <blockquote>
  小伙伴们不给力呀 一个评论都没有 :(
  </blockquote>
  <hr />
<% end %>

<% @post.comments.each  do |comment| %>
  <blockquote>
    <% if comment.email %>
  <div class="pull-left">
    <img style="width:45px;height:45px;" src="<%= toGravatar(comment.email) %>" alt="" />
  </div> 
  <% end %>
  <%=comment.message %>
  <small class="text-right"><%= time_ago_in_words(comment.created_at) %> ago by <%= comment.nickname %></small>
  </blockquote>
  <hr />
<% end %>

<div class="panel panel-danger"> 
<%= simple_form_for [@post, Comment.new], remote: :true do |f| %>
  <%= f.input :nickname %>
  <%= f.input :email %>
  <%= f.input :message %>
  <%= f.button :submit %>
<% end %>
</div>
