<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <h1><%=@post.title  %></h1>
    </div>
    <p class="lead"><%= @post.content %></p>
  </div>
</div>

<% if @post.comments.empty?  %>
  <blockquote>
  小伙伴们不给力呀 一个评论都没有 :(
  </blockquote>
  <hr />
<% end %>

<% @post.comments.each  do |comment| %>
  <blockquote>
    
    <% if comment.email %>
  <img src="<%= toGravatar(comment.email) %>" alt="" />
  <% end %>
  <%=comment.message %>
  <small class="text-right"><%= time_ago_in_words(comment.created_at) %> ago by <%= comment.nickname %></small>
  </blockquote>
  <hr />
<% end %>

<div class="panel panel-danger"> 
<%= simple_form_for [@post, Comment.new] do |f| %>
  <%= f.input :nickname %>
  <%= f.input :email %>
  <%= f.input :message %>
  <%= f.button :submit %>
<% end %>
</div>
